<!DOCTYPE=html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/photoapp.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>
        Store Report
    </title>
</head>
<body class='content'>
    {{first_event}} {{second_event}}
    {% for info in info %}
    <div class="photo">
        <div class="image">
            <img src="{{url_for('static', filename=info['photo'])}}" alt="{{info['photo']}}">
            <div class="name">
                <h3>User: {{info['username']}} Likes:{{info['likes']}}</h3>
            </div>
        </div>
        <p class='media'>{{info['comment']}}</p>
    <div class="form-popup" id="myForm">
  	<form action="/action_page.php" class="form-container">
    		<h1>Login</h1>

    	<label for="email"><b>Email</b></label>
    	<input type="text" placeholder="Enter Email" name="email" required>

    	<label for="psw"><b>Password</b></label>
    	<input type="password" placeholder="Enter Password" name="psw" required>

    	<button type="submit" class="btn">Login</button>
    	<button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
    </div>
    </div>
    {% endfor %}  
	
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
</body>
</html>`
