<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Yebo Marketplace</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>

<body>
  <div>
    <a>
      <li>
        <img src="{{url_for('static', filename='Yebo_Logo_White.png')}}" id="Logo">
      </li>
    </a>
  </div>
  <div>
    <ul class="navigation">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="/app">App</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  
  <div name="home" class="photo">
    <a href="/app">
      <img src="{{url_for('static', filename='Yebo_Logo.png')}}" id="Logo" class="photo">
    </a>
  </div>
  
  
  <div name="about" class="about">
    <h1>About Us</h1>
      <p>Yebo Marketplace is a startup company focused on "multi-platform technology based on a proprietary universal compression algorithm."</p><br>
      <p>The company was started when Richard Hendricks, a software engineer who was working at Hooli, created a songwriter-oriented music app called Pied Piper that made it easier for songwriters to determine if their work infringed on other’s copyright. The app was created at the Hacker Hostel, a "tech incubator" at Palo Alto in the house of Erlich Bachman, an entrepreneur and founder of airline booking aggregator Aviato. Upon discovery of the revolutionary compression algorithm in the app by workers at Hooli, a short betting war for the company began between Gavin Belson and Peter Gregory. Richard chooses Peter's offer, which was a $200,000 investment for 5% of the company. Richard hires inhabitants of the Hacker Hostel to work for Pied Piper including Erlich, Dinesh, Gilfoyle, and Big Head. Big Head was later fired because of a lack of purpose at Pied Piper.</p>
  </div>
  
  <div name="contact" class="container">
    <h1>Contact Us</h1>
  <form>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="tanzania">Tanzania</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

  <footer class="footer">
    <div>
      <a>&copy;Yebo Marketplace 2019</a><br>
      <a href="mailto:yebomarketplace@gmail.com">Contact Us</a>
    </div>
  </footer>
</body>
</html>
