<!DOCTYPE=html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/photoapp.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>
        Store Report
    </title>
</head>
<body>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Toggle Sidebar</button> 
  <h2>Collapsed Sidebar</h2>
  <p>Content...</p>
</div>
    
<div class='content'>
    {{first_event}} {{second_event}}
    {% for info in info %}
    <div class="photo">
        <div class="image">
            <img src="{{url_for('static', filename=info['photo'])}}" alt="{{info['photo']}}">
            <div class="name">
                <h3>User: {{info['username']}} Likes:{{info['likes']}}</h3>
            </div>
        </div>
        <p class='media'>{{info['comment']}}</p>
    </div>
    {% endfor %}  
</div>
<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>
</body>
</html>`
