<!DOCTYPE=html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/photoapp.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>
        Store Report
    </title>
</head>
<body class='content'>
    {{first_event}} {{second_event}}
    {% for info in info %}
    <div class="photo">
        <div class="image">
            <img src="{{url_for('static', filename=info['photo'])}}" alt="{{info['photo']}}">
            <div class="likes">
	    		<i class="fas fa-heart ls data-test="pulse"></i>
			</div>
            <div class="name">
                <h3>User: {{info['username']}} Likes:{{info['likes']}}</h3>
            </div>
        </div>
        <p class='media'>{{info['comment']}}</p>
    </div>
    {% endfor %}      
</body>
</html>`
